# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode
*.dat
**/env
*/db/*
!*/db/.gitkeep

chapter8/backup/cmds/backup/archive/*
!chapter8/backup/cmds/backup/archive/.gitkeep
chapter8/backup/cmds/backup/backupdata/*
!chapter8/backup/cmds/backup/backupdata/.gitkeep
chapter8/backup/cmds/backupd/test
chapter8/backup/cmds/backupd/test2
